@media (prefers-color-scheme: dark) {
    body {
        color: #FCFAF2;
        background-color: #121212;
    }

    a {
        color: #FCFAF2;
        background-color: #1B1B1B;
        text-decoration-color: #00558F;
        transition: 0.5s background-color, 0.25s color;
    }

    @media (hover: hover), (pointer: fine) {
        a:hover {
            color: #FCFAF2;
            background-color: #00558F;
            text-decoration: none;
        }
    }

    /* 引用标签 */
    blockquote {
        border-left: 0.35rem solid #00558F;
        background-color: #434343;
    }

    .highlight {
        background-color: #2B2B2B;
    }
    
    code {
        color: #FFF;
        background-color: #2B2B2B;
    }

    /* 页尾 */
    footer a {
        background-color: #121212;
    }

    /* 主容器 */
    main {
        background-color: #121212;
    }

    /* 卡片 */
    .card {
        background-color: #1B1B1B;
    }

    .card-title::before {
        background-color: #00558F;
    }

    .main-header-right-content {
        background: linear-gradient(to bottom, rgba(27, 27, 27, 0.9) 25%, #1B1B1B 75%);
    }

    /* 菜单 */
    .menu {
        background-color: #2C2C2C;
        transition: 0.5s background-color;
    }

    .menu.at-top {
        background-color: rgba(18, 18, 18, 0.85);
    }

    .menu-button {
        color: #FCFAF2;
        background-color: transparent;
        transition: 0.5s background-color;
    }

    @media (hover: hover), (pointer: fine) {
        .menu-button:hover {
            background-color: #3C3C3C;
        }
    }

    .menu-button-active {
        color: #FCFAF2;
        background-color: #00558F;
    }

    @media (hover: hover), (pointer: fine) {
        .menu-button-active:hover {
            background-color: #00558F;
        }
    }

    /* 菜单吸顶样式 */
    @media (hover: hover), (pointer: fine) {
        .menu.at-top .menu-button:hover {
            background-color: #3C3C3C;
        }
    }

    @media (hover: hover), (pointer: fine) {
        .menu.at-top .menu-button-active:hover {
            background-color: #00558F;
        }
    }

    .menu-icon {
        fill: #FCFAF2;
    }

    .menu-button-active .menu-icon {
        fill: #FCFAF2;
    }

    /* 社交图标 */
    .social-button {
        border: 0.1rem solid #FCFAF2;
        background-color: #1B1B1B;
        transition: 0.5s background-color, 0.5s border;
    }

    @media (hover: hover), (pointer: fine) {
        .social-button:hover {
            background-color: #00558F;
            border: 0.1rem solid #00558F;
        }
    }

    .social-im-button {
        color: #FCFAF2;
        background-color: #1B1B1B;
        border: 0.1rem solid #FCFAF2;
        transition: 0.5s background-color, 0.25s color, 0.5s border;
    }

    @media (hover: hover), (pointer: fine) {
        .social-im-button:hover {
            color: #FCFAF2;
            background-color: #00558F;
            border: 0.1rem solid #00558F;
        }
    }

    .social-icon {
        fill: #FCFAF2;
        transition: 0.25s fill;
    }

    @media (hover: hover), (pointer: fine) {
        .social-button:hover .social-icon {
            fill: #FCFAF2;
        }
    }

    /* 文章页 */
    .post-link {
        color: #FCFAF2;
        background-color: #1B1B1B;
        transition: background-color 0.5s, color 0.25s;
    }

    @media (hover: hover), (pointer: fine) {
        .post-link:hover {
            color: #FCFAF2;
            background-color: #00558F;
        }
    }

    .post-button {
        border: 0.1rem solid #FCFAF2;
        background-color: #1B1B1B;
        transition: 0.5s background-color, 0.5s border;
    }

    @media (hover: hover), (pointer: fine) {
        .post-button:hover {
            background-color: #00558F;
            border: 0.1rem solid #00558F;
        }
    }

    .post-icon {
        fill: #FCFAF2;
        transition: 0.25s fill;
    }

    @media (hover: hover), (pointer: fine) {
        .post-button:hover .post-icon {
            fill: #FCFAF2;
        }
    }

    .post-article-copyright-icon {
        fill: #FCFAF2;
    }

    .post-category {
        color: #FCFAF2;
        background: #00558F;
    }

    .post-left-menu-category {
        color: #FCFAF2;
        background-color: #1B1B1B;
        border: 0.1rem solid #FCFAF2;
        transition: 0.5s background-color, 0.25s color, 0.5s border;
    }

    @media (hover: hover), (pointer: fine) {
        .post-left-menu-category:hover {
            color: #FCFAF2;
            background-color: #00558F;
            border: 0.1rem solid #00558F;
        }
    }

    /* 技能与设备卡片 */
    .skill-list-content,
    .device-list-content {
        background-color: #212121;
        transition: 0.5s background-color;
    }

    @media (hover: hover), (pointer: fine) {
        .skill-list-content:hover,
        .device-list-content:hover {
            background-color: #3C3C3C;
        }
    }

    .skill-icon,
    .device-icon {
        fill: #FCFAF2;
    }

    /* 卡片悬停点击效果 */
    .friends-card-link {
        color: #FCFAF2;
        background-color: #1B1B1B;
        transition: background-color 0.5s, color 0.25s;
    }

    @media (hover: hover), (pointer: fine) {
        .friends-card-link:hover {
            color: #FCFAF2;
            background-color: #00558F;
        }
    }

    /* 按钮 */
    .button {
        color: #FCFAF2;
        background-color: #00558F;
    }

    @media screen and (max-width: 1280px) {
        .post-left-menu-b-title::before {
            background-color: #00558F;
        }
    }

    /* for iPad */
    @media screen and (max-width: 1024px) {
        .main-header-left-b-title::before {
            background-color: #00558F;
        }
    }

    @media screen and (max-width:576px) {
        .menu-b-drawer-container {
            background-color: rgba(18, 18, 18, 0.85);
        }
    
        .menu-b-drawer-container hr {
            border: 1px dashed #566C73;
        }
    }
}