@font-face {
    font-family: "overpass";
    src: url("../font/overpass.otf") format("opentype");
}

html {
    overflow-y: overlay;
}

body {
    background-color: #FCFAF2;
    color: #0C0C0C;
}

h1 {
    font-family: "overpass";
}

a {
    color: #1C1C1C;
}

header, footer, .main > div, article {
    background-color: #FFFFFB;
    border-radius:  1.35rem;
    margin: 1.5rem;
    padding: 1.5rem;
    text-align: center;
}

.title-h2, .social, .pgp, .about, .menu li {
    text-align: center;
}

.menu ul, .friends ul {
    margin: 0;
    padding: 0;
}

.menu li, .friends ul {
    list-style-type: none;
    display: inline-block;
}

.menu a {
    text-decoration: none;
}

.friends li {
    padding-bottom: 1rem;
}

.avatar > img {
    width: 6rem;
    border-radius: 50%;
}

.main > div {
    margin-bottom: 0;
}

.left-menu {
    float: left;
    width: 20rem;
}

.social > a > img {
    width: 3.5rem;
}

.interest > ul > li {
    list-style-position: inside;
    list-style-type: square;
    text-align: left;
}

article {
    overflow: hidden;
}

.clear {
    clear: both;
}

@media screen and (max-width:768px) {
    .left-menu {
        float: none;
        width: auto;
    }

    .social > a > img {
        width: 2.5rem;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #0C0C0C;
        color: #FFFFFB;
    }

    header, footer, .main > div, article {
        background-color: #1C1C1C;
    }

    a {
        color: #FCFAF2;
    }

    .social img {
        filter: invert(100%);
    }
}