@font-face {
    font-family: "overpass";
    src: url("../font/overpass.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "overpass-mono";
    src: url("../font/overpass-mono.otf") format("opentype");
    font-display: swap;
}

html {
    overflow-y: overlay;
    background-color: #EEF7F2;
    color: #0C0C0C;
}

a {
    color: #0C0C0C;
}

img {
    max-height: 35rem;
    max-width: 80%; 
}

/* 引用标签 */
blockquote {
    font-style: italic;
    border-left: 0.35rem solid #66BAB7;
    background-color: #EEF7F2;
    padding: 0.5rem 1.2rem;
    margin: 1rem;
}

/* 代码块样式 */
.highlight {
    background-color: #1C1C1C;
    width:fit-content;
    width:-webkit-fit-content;
    width:-moz-fit-content;
    padding: 0.8rem;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0;
}

code {
    font-family: "overpass-mono";
    color: #BDC0BA;
    background-color: #1C1C1C;
}

p code {
    padding: 0.2rem;
}

/* 标题 */
.title {
    font-family: "overpass";
    margin: 0.8rem auto;
}

/* 页首、页尾 */
header, footer {
    margin: 2rem;
    text-align: center;
}

/* 顶部头像 */
.avatar-img {
    width: 6.5rem;
    border-radius: 50%;
}

/* 菜单 */
.menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: inside;
    display: inline-block;
    text-align: left;
}

.menu li {
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: center;
}

.menu li:not(:first-child):before {
    content: " | ";
}

.menu a {
    text-decoration: none;
}

.menu-link-active {
    color: #66BAB7;
    font-weight: bold;
}

/* 卡片 */
.card {
    background-color: #FFFFFB;
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 1rem 1.5rem;
    text-align: center;
}

/* 页面顶部介绍卡片 */
.about {
    margin-bottom: 0;
}

/* 首页 & 友人双栏布局 */
.index-main, .friends-main {
    display: grid;
    grid-template-columns: 3fr 8fr;
    align-items: start;
    grid-gap: 0.5rem;
    margin: 0.5rem;
}

.index-main div, .friends-main div, .page-main div, .index-article {
    margin: 0;
}

/* 首页左右单列指定 */
.left-menu, .main-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
}

article p {
    text-align: left;
    text-indent: 2rem;
}

.index-article-description {
    text-align: center;
}

/* 首页左侧菜单 */
.left-menu-info {
    padding: 1.2rem;
}

/* 首页左侧菜单（社交媒体栏） */
.social-title {
    margin: 0.5rem;
}

.social-button {
    cursor: pointer;
    border: none;
    border-radius: 50%;
    width: 2.8rem;
    height: 2.8rem;
}

#social-twitter {
    background: url(../img/icons/twitter.svg) no-repeat;
}

#social-mastodon {
    background: url(../img/icons/mastodon.svg) no-repeat;
}

#social-threads {
    background: url(../img/icons/threads.svg) no-repeat;
}

#social-instagram {
    background: url(../img/icons/instagram.svg) no-repeat;
}

/* 首页左侧菜单（PGP） */
.pgp a {
    color: #FFFFFB;
    background-color: #0C0C0C;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
}

/* 设备列表 */
.devices-list-card {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.5rem;
}

.devices-list-content {
    border-radius: 0.5rem;
    padding-top: 1rem;
    background-color: #FBFBF7;
}

/* 友链列表 */
.main-content-social {
    padding: 0;
    background: #EEF7F2;
}

.friends-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;
}

/* 左侧菜单滚动置顶 */
.left-menu, .friends-left-menu {
    position: sticky;
    top: 0;
}

.friends-card {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* 卡片悬停点击效果 */
.friends-card-link {
    padding: 1.2rem;
    text-decoration: none;
    color: #0C0C0C;
    background-color: #FFFFFB;
    transition: background-color 0.5s, color 0.25s;
}

.friends-card-link:hover {
    color: #FFFFFB;
    background-color: #66BAB7;
    transition: background-color 0.5s, color 0.25s;
}

.friends-card-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.friends-card-description {
    display: inline;
}

/* 页面样式 */
.page-main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-gap: 0.5rem;
    margin: 0.5rem;
}

.page-main-center {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
}

.page-main div,
.page-main article {
    margin: 0;
}

/* 文章页卡片 */
.post-card {
    text-align: left;
    overflow: hidden;
}

.post-card-index {
    padding: 0;
}

.post-card-index a {
    text-decoration: none;
}

.post-link {
    display: block;
    padding: 1.2rem;
    color: #0C0C0C;
    background-color: #FFFFFB;
    transition: background-color 0.5s, color 0.25s;
    overflow: hidden;
}

.post-link:hover {
    color: #FCFAF2;
    background-color: #66BAB7;
    transition: background-color 0.5s, color 0.25s;
}

.post-category {
    background-color: #A8D8B9;
    padding: 0 0.5rem;
    border-radius: 0.25rem;
}

.post-list h2 {
    margin-top: 0;
}

.post-title {
    text-align: center;
}

.post-content {
    text-indent: 2rem;
}

/* 文章尾注 */
.post-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
}

.post-footer div {
    text-align: left;
}

/* 图标 */
.icon {
    width: 2rem;
}

.device-icon {
    width: 4rem;
}

/* 列表样式 */
.release-notes ul, .friends-info ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
    display: inline-block;
    text-align: left;
}

/* 按钮 */
.button {
    color: #FFFFFB;
    background-color: #66BAB7;
    border: none;
    margin: 0 auto;
    padding: 0.5rem 1.5rem;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1rem;
    border-radius: 1rem;
}

.comments-button {
    margin-bottom: 1rem;
}

/* 分页 */
.paginator {
    color: #FFFFFB;
    background-color: #A8D8B9;
    text-align: center;
    width: 8rem;
    margin: 0 auto;
    padding: 0.5rem 1.2rem;
    border-radius: 0.5rem;
}

.paginator a {
    color: #FFFFFB;
    text-decoration: none;
}

/* 评论系统 */
.comments-tips {
    text-align: center;
}

/* 页脚图标 */
.footer-button {
    cursor: pointer;
    border: none;
    width: 1.2em;
    height: 1.2rem;
    vertical-align: middle;
}

#rss-button {
    background: url(../img/icons/rss-icon.svg) no-repeat center center;
}

@media screen and (min-width: 1800px) {
    .index-main, .friends-main {
        grid-template-columns: 1fr 2fr 5fr 1fr;
    }

    .page-main {
        grid-template-columns: 2fr 5fr 2fr;
    }

    .left-menu {
        grid-column: 2;
    }
}

@media screen and (min-width: 961px) and (max-width: 1280px) {
    .index-main, .friends-main {
        grid-template-columns: 1fr 2fr;
    }

    .friends-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .devices-list-card {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* for iPad */
@media screen and (min-width: 769px) and (max-width: 960px) {
    .index-main, .friends-main {
        grid-template-columns: 3fr 5fr;
    }

    .friends-list {
        grid-template-columns: 1fr;
    }

    .page-main {
        display: block;
    }

    .devices-list-card {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:768px) {
    img {
        max-width: 100%; 
    }

    /* 卡片 */
    .card {
        padding: 1.2rem;
    }

    /* 首页 & 友人双栏布局 */
    .index-main, .friends-main, .page-main, .friends-list, .post-footer {
        grid-template-columns: 1fr; /* Use one column for mobile devices */
    }

    .devices-list-card {
        grid-template-columns: repeat(2, 1fr);
    }

    .post-card-index {
        padding: 0;
    }

    /* 页面样式 */
    .page-main-center {
        grid-column: 1;
    }

    /* 双栏左侧菜单 */
    .left-menu {
        margin: 0.5rem;
    }

    /* 友链列表 */
    .main-content-social {
        padding: 0;
    }

    /* 取消左侧菜单滚动置顶 */
    .left-menu, .friends-left-menu {
        position: static;
    }

    /* 移动端不显示一言 */
    .hitokoto {
        display: none;
    }
}

@media (prefers-color-scheme: dark){
    html {
        background: #2B2B2B;
        color: #FFFFFB;
    }

    a {
        color: #FFFFFB;
    }

    /* 引用标签 */
    blockquote {
        border-left: 0.35rem solid #268785;
        background-color: #434343;
    }

    /* 卡片 */
    .card {
        color: #FFFFFB;
        background: #1C1C1C;
    }

    .card a {
        color: #FFFFFB;
    }

    .post-link {
        color: #FCFAF2;
        background-color: #1C1C1C;
        transition: background-color 0.5s;
    }
    
    .post-link:hover {
        background-color: #268785;
        transition: background-color 0.5s;
    }

    .post-category {
        background: #5B622E;
    }

    /* 菜单 */
    .menu-link {
        color: #FFFFFB;
    }

    .menu-link-active {
        color: #268785;
    }

    /* 首页左侧菜单（社交媒体图标） */
    .social-button {
        filter: invert(100%);
    }

    /* 首页左侧菜单（PGP） */
    .pgp a {
        color: #0C0C0C;
        background-color: #FFFFFB;
    }

    /* 设备列表 */
    .devices-list-content {
        background-color: #1A1A1A;
    }

    /* 友链列表 */
    .main-content-social {
        background: #2B2B2B;
    }
    .friends-card-link {
        background-color: #1C1C1C;
        transition: background-color 0.5s;
    }

    .friends-card-link:hover {
        background-color: #268785;
        transition: background-color 0.5s;
    }

    /* 按钮 */
    .button {
        background-color: #268785;
    }

    /* 图标 */
    .icon, .device-icon, .footer-button {
        filter:invert(100%);
    }

    /* 代码块样式 */
    .highlight {
        background-color: #434343;
    }

    code {
        background-color: #434343;
    }
}