---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="关于" description="有关本站的一些建站信息" currentPath="/about">
  <article class="about-article card" id="domain">
    <h2 class="card-title">站名含义</h2>
    <h3 class="card-title-h3">
      <svg class="card-title-h3-icon" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg"><rect fill="none" height="256" width="256"/><path d="M240.6,128a15.8,15.8,0,0,1-10.5,15l-63.9,23.2L143,230.1a16,16,0,0,1-30,0L89.8,166.2,25.9,143a16,16,0,0,1,0-30L89.8,89.8,113,25.9a16,16,0,0,1,30,0l23.2,63.9L230.1,113A15.8,15.8,0,0,1,240.6,128Z"/></svg>
      Cynosura / 小熊座
    </h3>
    <p>即 <a href="https://zh.wikipedia.org/wiki/%E5%B0%8F%E7%86%8A%E5%BA%A7">小熊座</a> 的希腊古名拼写，呼应在用 ID: froseiun (from 星雲)，及常用昵称"熊"；而小熊座 α 星恰好为当前的北极星，在极北的夜空闪烁，指引正确的方向。Per aspera, ad astra. / 终抵繁星。</p>
  </article>
  
  <article class="about-article card">
    <h2 class="card-title" id="environment">搭建环境</h2>
    <h3 class="card-title-h3">
      <svg class="card-title-h3-icon" viewBox="0 0 480 512" xmlns="http://www.w3.org/2000/svg"><path d="M186.1 328.7c0 20.9-10.9 55.1-36.7 55.1s-36.7-34.2-36.7-55.1 10.9-55.1 36.7-55.1 36.7 34.2 36.7 55.1zM480 278.2c0 31.9-3.2 65.7-17.5 95-37.9 76.6-142.1 74.8-216.7 74.8-75.8 0-186.2 2.7-225.6-74.8-14.6-29-20.2-63.1-20.2-95 0-41.9 13.9-81.5 41.5-113.6-5.2-15.8-7.7-32.4-7.7-48.8 0-21.5 4.9-32.3 14.6-51.8 45.3 0 74.3 9 108.8 36 29-6.9 58.8-10 88.7-10 27 0 54.2 2.9 80.4 9.2 34-26.7 63-35.2 107.8-35.2 9.8 19.5 14.6 30.3 14.6 51.8 0 16.4-2.6 32.7-7.7 48.2 27.5 32.4 39 72.3 39 114.2zm-64.3 50.5c0-43.9-26.7-82.6-73.5-82.6-18.9 0-37 3.4-56 6-14.9 2.3-29.8 3.2-45.1 3.2-15.2 0-30.1-.9-45.1-3.2-18.7-2.6-37-6-56-6-46.8 0-73.5 38.7-73.5 82.6 0 87.8 80.4 101.3 150.4 101.3h48.2c70.3 0 150.6-13.4 150.6-101.3zm-82.6-55.1c-25.8 0-36.7 34.2-36.7 55.1s10.9 55.1 36.7 55.1 36.7-34.2 36.7-55.1-10.9-55.1-36.7-55.1z"/></svg>
      GitHub +
      <svg class="card-title-h3-icon" viewBox="0 0 640 512" xmlns="http://www.w3.org/2000/svg"><path d="M407.906,319.913l-230.8-2.928a4.58,4.58,0,0,1-3.632-1.926,4.648,4.648,0,0,1-.494-4.147,6.143,6.143,0,0,1,5.361-4.076L411.281,303.9c27.631-1.26,57.546-23.574,68.022-50.784l13.286-34.542a7.944,7.944,0,0,0,.524-2.936,7.735,7.735,0,0,0-.164-1.631A151.91,151.91,0,0,0,201.257,198.4,68.12,68.12,0,0,0,94.2,269.59C41.924,271.106,0,313.728,0,366.12a96.054,96.054,0,0,0,1.029,13.958,4.508,4.508,0,0,0,4.445,3.871l426.1.051c.043,0,.08-.019.122-.02a5.606,5.606,0,0,0,5.271-4l3.273-11.265c3.9-13.4,2.448-25.8-4.1-34.9C430.124,325.423,420.09,320.487,407.906,319.913ZM513.856,221.1c-2.141,0-4.271.062-6.391.164a3.771,3.771,0,0,0-3.324,2.653l-9.077,31.193c-3.9,13.4-2.449,25.786,4.1,34.89,6.02,8.4,16.054,13.323,28.238,13.9l49.2,2.939a4.491,4.491,0,0,1,3.51,1.894,4.64,4.64,0,0,1,.514,4.169,6.153,6.153,0,0,1-5.351,4.075l-51.125,2.939c-27.754,1.27-57.669,23.574-68.145,50.784l-3.695,9.606a2.716,2.716,0,0,0,2.427,3.68c.046,0,.088.017.136.017h175.91a4.69,4.69,0,0,0,4.539-3.37,124.807,124.807,0,0,0,4.682-34C640,277.3,583.524,221.1,513.856,221.1Z"/></svg>
      Cloudflare Pages
    </h3>
    <p>全站现已迁移到 Astro 框架，是由静态页面升级而来。目前是基于 GitHub 仓库 + Cloudflare Pages 自动部署。</p>
  </article>
  
  <article class="about-article card">
    <h2 class="card-title" id="font">字体选用</h2>
    <h3 class="card-title-h3">
      <svg class="card-title-h3-icon" viewBox="0 0 576 512" xmlns="http://www.w3.org/2000/svg"><path d="M573.19 402.67l-139.79-320C428.43 71.29 417.6 64 405.68 64h-97.59l2.45 23.16c.5 4.72-3.21 8.84-7.96 8.84h-29.16c-4.75 0-8.46-4.12-7.96-8.84L267.91 64h-97.59c-11.93 0-22.76 7.29-27.73 18.67L2.8 402.67C-6.45 423.86 8.31 448 30.54 448h196.84l10.31-97.68c.86-8.14 7.72-14.32 15.91-14.32h68.8c8.19 0 15.05 6.18 15.91 14.32L348.62 448h196.84c22.23 0 36.99-24.14 27.73-45.33zM260.4 135.16a8 8 0 0 1 7.96-7.16h39.29c4.09 0 7.53 3.09 7.96 7.16l4.6 43.58c.75 7.09-4.81 13.26-11.93 13.26h-40.54c-7.13 0-12.68-6.17-11.93-13.26l4.59-43.58zM315.64 304h-55.29c-9.5 0-16.91-8.23-15.91-17.68l5.07-48c.86-8.14 7.72-14.32 15.91-14.32h45.15c8.19 0 15.05 6.18 15.91 14.32l5.07 48c1 9.45-6.41 17.68-15.91 17.68z"/></svg>
      <span style="font-family: 'Overpass';">Overpass</span> / 高速公路
    </h3>
    <p>标题使用 <a href="https://overpassfont.org">Overpass</a> 的 Regular 字号，是美国联邦高速公路字体 Highway Gothic 的开源实现版本，非常简洁易读，同时文章页的代码块部分采用 Overpass Mono，以达到更好的易读性。许可协议：<a href="/font/OFL.txt">OFL</a></p>
    <p>而正文部分直接使用系统默认字体，因为包含中文字形后，会增加页面加载负担，作为对比，Overpass 仅占用 69KB 的空间，不如索性把字体选择权交给用户。</p>
    <p>示例：<span style="font-family: 'Overpass';">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</span></p>
  </article>
  
  <article class="about-article card" id="color">
    <h2 class="card-title">色彩搭配</h2>
    <h3 class="card-title-h3">
      <svg class="card-title-h3-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g><path d="M0 0h24v24H0z" fill="none"/><path d="M9 4h5.446a1 1 0 0 1 .848.47L18.75 10h4.408a.5.5 0 0 1 .439.74l-3.937 7.217A4.992 4.992 0 0 1 15 16 4.992 4.992 0 0 1 11 18a4.992 4.992 0 0 1-4-2 4.992 4.992 0 0 1-4.55 1.97l-1.236-6.791A1 1 0 0 1 2.198 10H3V5a1 1 0 0 1 1-1h1V1h4v3zm-4 6h11.392l-2.5-4H5v4zM3 20a5.978 5.978 0 0 0 4-1.528A5.978 5.978 0 0 0 11 20a5.978 5.978 0 0 0 4-1.528A5.978 5.978 0 0 0 19 20h2v2h-2a7.963 7.963 0 0 1-4-1.07A7.963 7.963 0 0 1 11 22a7.963 7.963 0 0 1-4-1.07A7.963 7.963 0 0 1 3 22H1v-2h2z"/></g></svg>
      水蓝 / 夏空和大海的颜色
    </h3>
    <p>全站使用"水蓝"作为主题色，期望能营造夏日清爽的观感(或许会根据四季切换不同主题色)。深色模式不使用纯黑，提亮背景缓解强对比度造成的眼睛疲劳，及防止 OLED 显示拖影。</p>
    <p>同时在尽量不破坏整体设计的情况下，选用高对比度色彩以符合 <a href="https://www.w3.org/WAI/standards-guidelines/wcag/">WCAG</a> 标准。</p>
    <div class="about-color-wrapper">
      <span class="about-color-span" style="background-color: #EBF4F4">
        <span class="about-color-tooltip" onclick="copyColor('#EBF4F4')">#EBF4F4</span>
      </span>
      <span class="about-color-span" style="background-color: #D0DFE6">
        <span class="about-color-tooltip" onclick="copyColor('#D0DFE6')">#D0DFE6</span>
      </span>
      <span class="about-color-span" style="background-color: #51A8DD">
        <span class="about-color-tooltip" onclick="copyColor('#51A8DD')">#51A8DD</span>
      </span>
      <span class="about-color-span" style="background-color: #1177B0">
        <span class="about-color-tooltip" onclick="copyColor('#1177B0')">#1177B0</span>
      </span>
      <span class="about-color-span" style="background-color: #566C73">
        <span class="about-color-tooltip" onclick="copyColor('#566C73')">#566C73</span>
      </span>
    </div>
  </article>
</BaseLayout>
  </article>
</BaseLayout>

<style>
  .about-article {
    margin-bottom: 0.5rem;
  }
</style>
