@font-face {
    font-family: "overpass";
    src: url("../font/overpass.otf") format("opentype");
}

html {
    overflow-y: overlay;
    background-color: #EEF7F2;
    color: #0C0C0C;
}

a {
    color: #0C0C0C;
}

img {
    max-height: 35rem;
    max-width: 80%; 
}

/* 引用标签 */
blockquote {
    font-style: italic;
    border-left: 0.35rem solid #66BAB7;
    background-color: #EEF7F2;
    padding: 0.5rem 1.2rem;
    margin: 1rem;
}

/* 代码块样式 */
.highlight {
    background-color: #1C1C1C;
    width:fit-content;
    width:-webkit-fit-content;
    width:-moz-fit-content;
    padding: 1rem;
    border-radius: 0.5rem;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0;
}

code {
    font-family: "overpass";
    color: #BDC0BA;
    background-color: #1C1C1C;
}

p code {
    padding: 0.2rem;
    border-radius: 0.25rem;
}

/* 标题 */
.title {
    font-family: "overpass";
    margin: 0.8rem auto;
}

/* 页首、页尾 */
header, footer {
    margin: 2rem;
    text-align: center;
}

/* 顶部头像 */
.avatar-img {
    width: 7rem;
    border-radius: 50%;
}

/* 菜单 */
.menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: inside;
    display: inline-block;
    text-align: left;
}

.menu li {
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: center;
}

.menu li:not(:first-child):before {
    content: " | ";
}

.menu a {
    text-decoration: none;
}

.menu-link-active {
    color: #66BAB7;
    font-weight: bold;
}

/* 卡片 */
.card {
    background-color: #FFFFFB;
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 1rem 1.5rem;
    text-align: center;
}

/* 页面顶部介绍卡片 */
.about {
    margin-bottom: 0;
}

/* 文章页卡片 */
.post-card {
    margin: 0.5rem 12rem;
    text-align: left;
    overflow: hidden;
}

.post-card-index {
    padding: 0;
}

.post-card-index a {
    text-decoration: none;
}

.post-link {
    display: block;
    padding: 1.2rem;
    color: #0C0C0C;
    background-color: #FFFFFB;
    transition: background-color 0.5s, color 0.25s;
    overflow: hidden;
}

.post-link:hover {
    color: #FCFAF2;
    background-color: #66BAB7;
    transition: background-color 0.5s, color 0.25s;
}

.post-category {
    background-color: #A8D8B9;
    padding: 0 0.5rem;
    border-radius: 0.25rem;
}

.post-list h2 {
    margin-top: 0;
}

.post-title {
    text-align: center;
}

/* 文章尾注 */
.post-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
    margin: 0.5rem 12rem;
}

.post-footer div {
    text-align: left;
    margin: 0;
}

/* 图标 */
.icon {
    width: 2rem;
}

/* 按钮 */
.button {
    color: #FFFFFB;
    background-color: #66BAB7;
    border: none;
    margin: 0 auto;
    padding: 0.5rem 1.5rem;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1rem;
    border-radius: 1rem;
}

.comments-button {
    margin-bottom: 1rem;
}

/* 分页 */
.paginator {
    color: #FFFFFB;
    background-color: #A8D8B9;
    text-align: center;
    width: 8rem;
    margin: 0 auto;
    padding: 0.5rem 1.2rem;
    border-radius: 0.5rem;
}

.paginator a {
    color: #FFFFFB;
    text-decoration: none;
}

/* 评论系统 */
.comments-tips {
    text-align: center;
}

@media screen and (max-width:1024px) {
    img {
        max-width: 100%; 
    }

    /* 卡片 */
    .card {
        padding: 1.2rem;
    }

    /* 文章页卡片 */
    .post-card {
        margin: 0.5rem;
    }

    .post-card-index {
        padding: 0;
    }

    /* 文章尾注 */
    .post-footer {
        grid-template-columns: 1fr;
        margin: 0.5rem;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        color: #FFFFFB;
        background-color: #0C0C0C;
    }

    a {
        color: #FFFFFB;
    }

    /* 引用标签 */
    blockquote {
    border-left: 0.35rem solid #268785;
    background-color: #434343;
    }

    /* 菜单 */
    .menu-link-active {
        color: #268785;
    }

    /* 卡片 */
    .card {
        color: #FFFFFB;
        background-color: #1C1C1C;
    }

    /* 文章页卡片 */
    .post-link {
        color: #FCFAF2;
        background-color: #1C1C1C;
        transition: background-color 0.5s;
    }
    
    .post-link:hover {
        background-color: #268785;
        transition: background-color 0.5s;
    }

    .post-category {
        background: #5B622E;
    }

    /* 按钮 */
    .button {
        background: #268785;
    }

    /* 图标 */
    .icon {
        filter:invert(100%);
    }

    /* 代码块样式 */
    .highlight {
        background-color: #434343;
    }

    code {
        background-color: #434343;
    }
}